img {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #535353;
}

h1, h2, h3, h4 {
  font-family: 'playfair display', serif;
  line-height: 1.4;
  /* Sets the line-height to 1.4 * the font-size */
}

h1 {
  font-size: 1.90em;
  font-weight: 700;
}

h2 {
  font-size: 1.60em;
  font-weight: 700;
}

h3 {
  font-size: 1.30em;
  font-weight: 400;
}

h4 {
  font-size: 1.00em;
  font-weight: 400;
}

a {
  color: #ffaaaa;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffaaaa;
}

a:hover {
  color: #fa9999;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:focus {
  color: #e87d7d;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #e87d7d;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: #ffaaaa;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ffaaaa;
  border: 2px solid #ffaaaa;
}

.button.contact:hover {
  background-color: #ffaaaa;
  color: #ffffff;
}

.button.contact:active {
  background-color: #ffaaaa;
  color: #e87d7d;
}

.navigation {
  background-color: #ffffff;
  color: #535353;
  /* needed to override the default link color */
  transition: 0.2s opacity;
}

/* specific button rules that must be kept at bottom of code */
