* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #fff2e6;
  margin: 0px;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.23);
  position: fixed;
  width: 100%;
}

.section.hero {
  background-color: #fff4ea;
}

main {
  padding-top: 70.94px;
}

body {
  background-color: #ffffff;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #535353;
}

h1 {
  font-family: 'baldive', serif;
  line-height: 1.4;
  /* Sets the line-height to 1.4 * the font-size */
}

h2, h3, h4 {
  font-family: 'playfair display', serif;
  line-height: 1.4;
  /* Sets the line-height to 1.4 * the font-size */
}

h1 {
  font-size: 2.50em;
  font-weight: 400;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: 1.30em;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.10em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.00em;
  font-weight: 400;
}

/* Layout styling */
.container {
  padding: 20px 15px 10px;
}

.center {
  text-align: center;
}

img {
  width: 100%;
  max-width: 350px;
  padding: 10px 0;
}

p {
  margin: 16px 0;
}

.logo {
  max-width: 85px;
  display: inline-block;
  margin: 0px;
  padding: 10px 0;
}

.icon {
  padding-top: 6px;
}

nav {
  font-size: 14px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>hover, nav>ul>li>focus {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffaaaa;
}

nav>ul>li>active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #ffffff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#work .row {
  padding-top: 14px;
  padding-bottom: 10px;
}

#work h2 {
  text-align: center;
}

#work .button {
  margin-bottom: 10px;
}

.hero {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.hero h1 span.new_line {
  font-size: 60%;
  display: block;
  font-family: "poppins", sans-serif;
  font-weight: 200;
}

.welcome_large {
  display: none;
}

.contact {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.contact_border {
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#contact span {
  display: block;
}

.skills h2 {
  padding-bottom: 18px;
}

.social ul {
  padding: 0;
}

.social li {
  display: inline-block;
  margin: 0 20px;
}

.cambridge svg {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.envelope svg {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.copyright {
  font-size: 12px;
}

footer {
  background-color: #fff2e6;
  text-align: center;
}

footer ul {
  margin: 0;
}

/* specific button & link rules that must be kept at bottom of code */
a {
  color: #535353 !important;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #fa9999;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #535353;
}

.button {
  display: inline-block;
  background-color: #fff0f0;
  color: #535353 !important;
  /* needed to override the default link color */
  padding: 10px 40px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ffcece;
  margin: 8px 0 18px 0;
  padding: 10px 40px;
  text-align: left;
  border: 2px solid #ffcece;
}

.button.contact:hover {
  background-color: #ffcece;
  color: #ffffff !important;
}

.button.contact:active {
  background-color: #ffcece;
  color: #535353;
}

.button.view {
  color: #ffcece;
  padding: 10px 40px;
}

.button.view.top {
  margin-bottom: 15px;
}

.button.view:hover {
  color: #535353;
  text-decoration: underline
}

/* ==============================
Animation
================================= */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f79714;
  }
}

.sun {
  animation: 6s color-change infinite alternate linear;
}

@keyframes man_boat-move {
  from {
    transform: translate(0, 10px);
  }

  to {
    transform: translate(400px, 0);
  }
}

.man_boat {
  animation: 14s man_boat-move infinite linear;
}

@keyframes water_2-move {
  from {
    transform: translate(0, 10px);
  }

  to {
    transform: translate(320px, 0);
  }
}

.water_2 {
  animation: 24s water_2-move infinite;
}

@keyframes small_cloud-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(200px, 0);
  }
}

.small_cloud {
  animation: 24s small_cloud-move infinite alternate linear;
}

@keyframes large_cloud-move-reverse {
  from {
    transform: translate(-50px, 0);
  }

  to {
    transform: translate(-300px, 0);
  }
}

.large_cloud {
  animation: 20s large_cloud-move-reverse infinite alternate linear;
}

@keyframes paper-move {
  from {
    transform: translate(0, 70px);
  }

  to {
    transform: translate(0, 0);
  }
}

.paper {
  animation: 2s paper-move alternate linear;
}

@keyframes plane_left-move {
  from {
    transform: translate(-600px, 7px);
  }

  to {
    transform: translate(0, 14px);
  }
}

.plane_left {
  animation: 2s plane_left-move linear;
}

@keyframes plane_right-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-600px), 0);
  }
}

.plane_righ {
  animation: 3s plane_right-move linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
    /* hides hamburger menu */
  }

  .navtoggle.responsive nav {
    border-top: 0;
    padding: 0;
    margin: 0;
  }

  .navtoggle.responsive li {
    border-top: none;
  }

  .welcome_small {
    display: none;
  }

  .welcome_large {
    display: inline;
  }

  .logo {
    padding: 14px 0 0 10px;
  }

  h1 {
    padding-top: 10px;
  }

  #work h2 {
    margin: 15px, 0;
  }

  h3 {
    padding-top: 5px;
  }

  body {
    font-size: 18px;
  }

  main {
    padding-top: 87px;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h2 {
    text-align: left;
    display: inline-block;
    margin: 0px
  }

  #about-page h3 {
    margin: 0 0 10px 0;
  }

  .nalu img {
    width: 100%;
    max-width: 800px;
    max-height: 1000px;
  }

  .mai img {
    width: 100%;
    max-width: 800px;
    max-height: 1000px;
  }

  .cambridge svg {
    width: 100%;
    max-width: 800px;
    max-height: 1000px;
  }

  .envelope svg {
    width: 100%;
    max-width: 280px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  nav {
    margin-top: 9px;
  }

  main {
    padding-top: 90.28px;
  }

  .logo {
    max-width: 120px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .project2 svg {
    width: 100%;
    max-width: 450px;
    height: auto;
  }

  .work img {
    width: 100%;
    max-width: 450px;
    max-height: 450px;
    height: auto;
  }

  .nalu img {
    width: 100%;
    max-width: 1200px;
    height: auto;
  }

  .mai img {
    width: 100%;
    max-width: 1200px;
    height: auto;
  }

  footer {
    padding: 20px, 0;
  }
}
